* {
  box-sizing: border-box;
  font-family: "SUIT Variable", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

header {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.header-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#logo {
  margin-right: 10px;
}

.header-ul li {
  font-size: 14px;
  font-weight: 700;
  color: #3a3a3a;
  cursor: pointer;
}

#vertical-line {
  font-size: 12px;
  color: #cacaca;
}

.header-ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

#name {
  font-size: 13px;
  font-weight: 500;
  color: #1b1b1b;
}

#profile-img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

section {
  width: 100%;
  padding: 70px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.papago-container {
  min-width: 800px;
  width: 70%;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.papago-box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  overflow: hidden;
}

.papago-header {
  width: 100%;
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 23px;
  border-bottom: 0.5px solid rgb(233, 233, 233);
}

.papago-header span {
  font-size: 15px;
  font-weight: 600;
  color: #474747;
  cursor: pointer;
  transition: all 0.15s;
}

.papago-header button {
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #474747;
  background: none;
  padding: 0px;
  cursor: pointer;
  transition: all 0.15s;
}

.papago-header span:hover,
.papago-header button:hover {
  color: #21dc6d;
}

.papago-textarea {
  width: 100%;
  height: 65.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.papago-textarea textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 15px;
  font-size: 18px;
  color: #1b1b1b;
  font-weight: 600;
  font-family: "SUIT Variable", sans-serif;
}

.papago-textarea span {
  font-size: 13px;
  color: #474747;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.papago-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.5px solid rgb(233, 233, 233);
}

.papago-footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.papago-footer ul li {
  width: 84px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid rgb(233, 233, 233);
  cursor: pointer;
}

.papago-footer ul li img {
  width: 35%;
  height: auto;
}

.papago-footer button {
  border: none;
  background-color: #21dc6d;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 0px 25px;
  cursor: pointer;
}

.default-green img {
  filter: brightness(0);
  transition: all 0.15s;
}

.default-green:hover > img {
  filter: brightness(1);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fbfbfb;
}

#footer-first {
  width: 100%;
  padding: 30px 60px;
  border-bottom: 0.5px solid rgb(231, 231, 231);
}

#footer-first ul,
#footer-first ul li,
#footer-first ul li span:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#footer-first ul {
  justify-content: space-between;
}

#footer-first ul li {
  justify-content: center;
  gap: 10px;
}

#footer-first ul li span:nth-child(1) {
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  background-color: #1caafc;
  border-radius: 500px;
  color: white;
  padding: 3px 7px 4.5px 7px;
}

#footer-first ul li span:nth-child(2) {
  font-size: 13px;
  font-weight: 600;
  color: #474747;
  padding-bottom: 1.5px;
}

#footer-first ul li img:nth-child(1) {
  height: 16px;
  width: auto;
}

#footer-first ul li img:nth-child(2) {
  height: 20px;
  width: auto;
}

#footer-second {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 60px 50px 60px;
  gap: 20px;
}

#footer-second ul:nth-child(1) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#footer-second ul:nth-child(1) li:not(#language-box) {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #474747;
}

#app-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

#app-icon img {
  width: 80%;
  height: auto;
}

#language-box {
  font-size: 13px;
  font-weight: 700;
  background-color: #adadad;
  color: white;
  padding: 5px 10px;
  border-radius: 500px;
}

#footer-second ul:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #474747;
}

#footer-second ul:nth-child(2) li {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#footer-second ul:nth-child(2) li span {
  cursor: pointer;
  transition: all 0.15s;
}

#footer-second ul:nth-child(2) li span:hover {
  color: #1b1b1b;
  font-weight: 600;
}

#cc {
  font-size: 12px;
  font-weight: 900;
  color: #adadad;
}

@media (min-height: 800px) {
  footer {
    position: absolute;
    bottom: 0px;
  }
}
